* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
}

/* Global Rules */
ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 818px) {
  .container {
    width: 800px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 975px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

/* Sign up/Log in pages */
.form-control {
  display: flex;
  flex-direction: column;
}

.form-control input {
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 7px;
  width: 100%;
  font-size: 0.9rem;
}

.form-control input:focus {
  outline-width: 0.5px;
  outline-color: #a5ecff;
}

.form-control label {
  font-size: 0.8rem;
  line-height: 1;
  color: #bcb7b7;
  font-weight: bold;
  z-index: 10;
  margin-left: 5px;
  margin-bottom: -6px;
  background: white;
  width: fit-content;
  padding-right: 5px;
}

.form-control.invalid input {
  border: 1px solid red;
  outline: none;
}

/* Navigation */
.main-navigation {
  display: flex;
  background: white;
}
