.form {
  @apply rounded-sm;
  width: 550px;
  max-width: calc(100% - 20px);
  padding: 30px 10px;
  margin: 40px auto;
}

.form button {
  @apply bg-main hover:bg-[#60a5ff] text-white;
  width: 100%;
  border: none;
  padding-block: 10px;
  cursor: pointer;
  font-weight: bold;
  transition-duration: 0.2s;
  margin-bottom: 7px;
}

/* .form button:hover {
  background-color: #afeeff;
  color: #013442;
} */

.form > p:first-child {
  line-height: 1;
  margin-bottom: 5px;
}

.form > a:last-child {
  font-size: 0.8rem;
  cursor: pointer;
}

.form > a:last-child:hover {
  text-decoration: underline;
}
